.all-users-container {
  background-color: #d0c7b6;
  border: 2.5px solid;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
  margin: 0px 100px;
  justify-content: center;

}
h1 {
  text-align: center;
}

.page-number {
  text-align: end;
  margin-right: 130px;
  margin-bottom: 5px;
}